<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppLimit.CloudComputing.SharpBox" version="1.2.0.542" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="WinSCP" version="5.9.5" targetFramework="net45" />
</packages>