<?xml version="1.0" encoding="utf-8"?>
<Pipeline xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" UseStreaming="true" CurrentExecptionHandling="CancelCurrentBranch">
	<PipelineCommands>
		<PipelineCommand xsi:type="FileSystemTrigger">
			<Parameters>
				<CommandParameter Name="Directory" Value="C:\Temp\pipeline\watchsource\" Direction="In" />
				<CommandParameter Name="FileFilter" Value="" Direction="In" />
				<CommandParameter Name="WatchMode" Value="" Direction="In" />
			</Parameters>
			<PipelineCommands>
				<PipelineCommand xsi:type="FileLooper">
					<Parameters>
						<CommandParameter Name="SourceDirectory" Value="C:\Temp\pipeline\watchsource\" Direction="In" />
						<CommandParameter Name="FileFilter" Value="*.csv;*.txt" Direction="In" />
						<CommandParameter Name="File" Value="" />
					</Parameters>
					<PipelineCommands>
						<PipelineCommand xsi:type="ConditionChecker">
							<Parameters />
							<CommandConditions>
								<CommandCondition Token="File" Operator="Like" Value="*.csv">
									<PipelineCommand xsi:type="FlatFileReader">
										<Parameters>
											<CommandParameter Name="File" Value="{File}" NotNull="true" />
										</Parameters>
										<PipelineCommands>

											<PipelineCommand xsi:type="FlatFileWriter">
												<Parameters>
													<CommandParameter Name="File" Value="C:\Temp\pipeline\target\{FileName}" />
													<CommandParameter Name="EncodingName" Value="" Direction="In" />
													<CommandParameter Name="Data" Value="" Direction="In" DataType="" />
												</Parameters>
												<PipelineCommands />
												<Formatter xsi:type="DataTableToCsvFormatter">
													<FormatterOptions>
														<FormatterOption Name="Separator" Value=";" />
														<FormatterOption Name="Enclosure" Value="" />
													</FormatterOptions>
												</Formatter>
											</PipelineCommand>

										</PipelineCommands>
										<Formatter xsi:type="CsvToDataTableFormatter">
											<FormatterOptions>
												<FormatterOption Name="Separator" Value=";" />
												<FormatterOption Name="Enclosure" Value="" />
											</FormatterOptions>
										</Formatter>
									</PipelineCommand>
								</CommandCondition>
							</CommandConditions>
							<CommandConditions />
						</PipelineCommand>
						<PipelineCommand xsi:type="FileZipper">
							<Parameters>
								<CommandParameter Name="TargetDirectory" Value="C:\Temp\pipeline\archive" />
								<CommandParameter Name="SourceFile" Value="{File}" />
								<CommandParameter Name="ZipName" Value="Archive_{yyyyMMdd}.zip" />
								<CommandParameter Name="Password" Value="" />
								<CommandParameter Name="RemoveSourceFile" Value="" />
								<CommandParameter Name="File" Value="" />
							</Parameters>
							<PipelineCommands />
						</PipelineCommand>
					</PipelineCommands>
				</PipelineCommand>
			</PipelineCommands>
		</PipelineCommand>
	</PipelineCommands>
</Pipeline>