<?xml version="1.0" encoding="utf-8"?>
<Pipeline xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" UseStreaming="true" CurrentExecptionHandling="CancelCurrentBranch">
  <Commands>
    <Command xsi:type="FileSystemTrigger">
      <Parameters>
        <Parameter Name="Directory" Value="%TEMP%\pipeline\watchsource\" Direction="In" />
        <Parameter Name="FileFilter" Value="" Direction="In" />
        <Parameter Name="WatchMode" Value="" Direction="In" />
      </Parameters>
      <Commands>
        <Command xsi:type="FileLooper">
          <Parameters>
            <Parameter Name="SourceDirectory" Value="%TEMP%\pipeline\watchsource\" Direction="In" />
            <Parameter Name="FileFilter" Value="*.csv" Direction="In" />
            <Parameter Name="File" Value="" />
          </Parameters>
          <Commands>
            <Command xsi:type="FlatFileReader">
              <Parameters>
                <Parameter Name="File" Value="{File}" NotNull="true" />
                <Parameter Name="EncodingName" Value="" Direction="In" />
              </Parameters>
              <Commands>

                <Command xsi:type="FlatFileWriter">
                  <Parameters>
                    <Parameter Name="File" Value="%TEMP%\pipeline\target\{FileName}" />
                    <Parameter Name="EncodingName" Value="" Direction="In" />
                  </Parameters>
                  <Commands />
                  <Formatter xsi:type="DataTableToCsvFormatter">
                    <Options>
                      <Option Name="Separator" Value=";" />
                      <Option Name="Enclosure" Value="" />
                    </Options>
                  </Formatter>
                </Command>

              </Commands>
              <Formatter xsi:type="CsvToDataTableFormatter">
                <Options>
                  <Option Name="Separator" Value=";" />
                  <Option Name="Enclosure" Value="" />
                </Options>
              </Formatter>
            </Command>
            <Command xsi:type="FileZipper">
              <Parameters>
                <Parameter Name="TargetDirectory" Value="%TEMP%\pipeline\archive" />
                <Parameter Name="SourceFile" Value="{File}" />
                <Parameter Name="ZipName" Value="Archive_{yyyyMMdd}.zip" />
                <Parameter Name="Password" Value="" />
                <Parameter Name="RemoveSourceFile" Value="" />
                <Parameter Name="File" Value="" />
              </Parameters>
              <Commands />
            </Command>
          </Commands>
        </Command>
      </Commands>
    </Command>
  </Commands>
</Pipeline>