<?xml version="1.0" encoding="utf-8"?>
<Pipeline xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Commands>
		<Command xsi:type="ScheduleTrigger">
			  <Schedule xsi:type="IntervalScheduleInfo" Hours="0" Minutes="0" Seconds="10">
			  </Schedule>
			  <Commands>
				   <Command xsi:type="FolderSync">
					  <Parameters>
						<Parameter Name="SourceDirectory" Value="%TEMP%\Bilder" Direction="In" />
						<Parameter Name="TargetDirectory" Value="%TEMP%\Bilder\Synced" Direction="In" />
					  </Parameters>
					</Command>	 	
			</Commands>
		</Command>				
  </Commands>
</Pipeline>