<?xml version="1.0" encoding="utf-8"?>
<Pipeline xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Commands>
		<Command xsi:type="UsbTrigger">
			  <Parameters>
				<Parameter Name="DeviceName" Value="" Direction="In" />
				<Parameter Name="DriveLetter" Value="" Direction="Out" />
			  </Parameters>
			  <Commands>
				   <Command xsi:type="FolderSync">
					  <Parameters>
								<Parameter Name="SourceDirectory" Value="{DriveLetter}\Bilder" Direction="In" />
								<Parameter Name="TargetDirectory" Value="%TEMP%\Bilder" Direction="In" />
					  </Parameters>
					</Command>	 	
			</Commands>
		</Command>				
  </Commands>
  <CurrentExecptionHandling>CancelCurrentBranch</CurrentExecptionHandling>
</Pipeline>